<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'output.css' %}">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blog Post Details</title>
  </head>
  <body class="bg-gray-100 h-screen flex flex-col">
    <!-- Navbar -->
    <nav
      class="bg-blue-600 h-20 text-white flex flex-wrap items-center justify-between p-4"
    >
      <div class="">
        <h1 class="font-bold text-3xl">AI Blog Generator</h1>
      </div>
      <div class="flex flex-wrap gap-3">
        <a href="#" class="hover:underline font-bold">Login</a>
        <a href="#" class="hover:underline font-bold">Signup</a>
      </div>
    </nav>

    <!-- Main Content For Blog Details -->
    <main class="mx-auto flex-grow  p-8">
      <div class="bg-white max-w-3xl mx-auto w-full rounded-lg shadow-md p-8">
        <section>
          <h2 class="text-xl font-semibold mb-4">Blog Post Details</h2>
          <div
            class="border border-gray-300 p-4 rounded-md flex flex-col gap-3"
          >
            <div>
              <h3 class="text-lg font-semibold">Blog Post Title</h3>
              <p class="text-gray-700">
                This is the content: Lorem, ipsum dolor sit amet consectetur
                adipisicing elit. Voluptatem at assumenda quam doloremque ea.
              </p>
            </div>
            <hr class="border-gray-300" />
            <div>
              <h4 class="text-lg font-semibold">Youtube Video Title</h4>
              <p class="text-gray-700">Title of Youtube video</p>
            </div>
            <div>
              <h4 class="text-lg font-semibold">Youtube Link</h4>
              <a
                href="#"
                class="text-blue-600 hover:text-blue-700 hover:underline"
                >https://www.youtube.com</a
              >
            </div>
          </div>
        </section>
      </div>
    </main>

    <footer class="text-center font-semibold p-4 text-black mt-4 ">
      Powered by Code Html Css Python Django PostgresQL
    </footer>
  </body>
</html>
